name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  default_features:
    name: Default features
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Format
      run: cargo fmt --all -- --check
    - name: Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Doc
      run: cargo doc
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  galmon_features:
    name: Galmon features
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Format
      run: cargo fmt --all -- --check
    - name: Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Doc
      run: cargo doc --features galmon
    - name: Build
      run: cargo build --verbose --features galmon
    - name: Run tests
      run: cargo test --verbose --features galmon

  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install toolchain
      run: rustup install 1.56.0
    - name: Doc
      run: cargo +1.56.0 doc --features galmon
    - name: Build
      run: cargo +1.56.0 build --verbose --features galmon
    - name: Run tests
      run: cargo +1.56.0 test --verbose --features galmon

  galmon:
    name: Galmon
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: galmon-osnma
    steps:
    - uses: actions/checkout@v2
    - name: Format
      run: cargo fmt --all -- --check
    - name: Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  longan_nano:
    name: Longan nano
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: osnma-longan-nano
    steps:
    - uses: actions/checkout@v2
    - name: Install riscv32imac Rust target
      run: rustup target add riscv32imac-unknown-none-elf
    - name: Format
      run: cargo fmt --all -- --check
    - name: Clippy
      run: cargo clippy --all-features -- -D warnings
    - name: Build
      run: cargo build --release --verbose

  longan_nano_client:
    name: Longan nano client
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: osnma-longan-nano-client
    steps:
    - uses: actions/checkout@v2
    - name: Install libudev
      run: |
        sudo apt-get update
        sudo apt-get install libudev-dev
    - name: Format
      run: cargo fmt --all -- --check
    - name: Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
